.shop-container{
    display: flex;
}
.product-container{
width: 70%;
margin-left: 100px;
padding: 30px;
border-right: 1px solid gray;
#blue{
    color: blue;
}
}

.cart-container{
width: 20%;
margin: 10px;

}
.font{
    font-size: 25px;
}
#bold{
    font-weight:400;
}